@media (max-width: 992px) {
   .Container {
     max-width: 720px;
   }
   .girlsphoto{
      display: none !important;
   }
   .houitworkstext{
      margin-top: 20% !important;
   }
   .allpagecolor{
      height: 470vh !important;
    }
 }

@media (max-width: 768px) {
    .Container {
      max-width: 540px;
    }
    .girlsphoto{
        display: none !important;
     }
     .houitworkstext{
        margin-top: 25% !important;
     }

  }


@media (max-width: 576px) {
    .Container {
      max-width: 100%;
    }
 .girlsphoto{
    display: none !important;
 }
 .girlsiconone{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    gap: 25px !important;
 }
 .girlsicontwo{
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    gap: 25px !important;
 }
 .houitworkstext{
    margin-top:90px !important;
 }
 .sectext{
    width: 68% !important;
 }
  }