@media (max-width: 992px) {
  .Container {
    max-width: 720px;
  }
  .copyrightext{
  gap: 19% !important;
  }
}
@media (max-width: 768px) {
  .Container {
    max-width: 540px;
  }

  .copyrightext{
    gap: 15% !important;
    }
  
}

@media (max-width: 576px) {
    .Container {
      max-width: 100%;
    }
  .copyrightext{
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
  }
  .m{
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px !important;
  }
.logosfoters{
    flex-direction: column !important;
    padding: 0px !important;
   margin-left: -199px !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 3% !important;
}
.digtal{
    margin-left: 30px !important;
}
.alstext{
    margin-top: 20px !important;
}

.threstexts{
    margin-left: -20px !important;
    
}

  }