*{
  margin: 0;
  padding: 0;

}
.burgermenubox{
  padding: 5px !important;
}


@media (max-width: 1200px) {
  .Container {
    max-width: 960px;
  }
 
}

@media (max-width: 992px) {
  .Container {
    max-width: 720px;
  }
 
}

@media (max-width: 768px) {
  .Container {
    max-width: 540px;
  }
  .allpagecolor{
    height: 477vh !important;
  }

}
@media (max-width: 576px) {
  .Container {
    max-width: 100%;
  }
  .boysbacgcolor{
    background-image: none !important;
    margin-left: 0px !important;
    width: 98% !important;

  }
  .allpagecolor{
    padding: 0 !important;
    height: 588vh !important;
  }
}